Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [4]:
def is_symmetrical(a):
    a=list(str(a))
    b=a[::-1]
    if a==b:
        return True
    else:
        return False

In [5]:
is_symmetrical(7227)

True

In [6]:
is_symmetrical(12567)

False

In [7]:
is_symmetrical(44444444)

True

In [8]:
is_symmetrical(9939)

False

In [9]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [6]:
def multiply_nums(str_in):
    list_in = str_in.split(", ")
    list_in = [int(x) for x in list_in]
    product = 1
    for ele in list_in:
        product = product*ele
    return product
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")

0

In [7]:
multiply_nums("1, 2, 3, 4")

24

In [8]:
multiply_nums("54, 75, 453, 0")

0

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [34]:
def square_digits(a):
    a=str(a)
    b=[]
    for i in a:
        b.append(int(i)*int(i))
    b="".join(str(e) for e in b)
    return int(b)

In [35]:
square_digits(9119)

811181

In [36]:
square_digits(2483)

416649

In [37]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [40]:
def setify(a):
    return list(set(sorted(a)))

In [41]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [42]:
setify([4, 4, 4, 4])

[4]

In [43]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [44]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes

In [83]:
def mean(a):
    a=str(a)
    b=[]
    for i in range(len(a)):
        b.append(int(a[i]))
    return int((sum(b)/len(a)))

In [84]:
mean(42)

3

In [85]:
mean(12345)

3

In [86]:
mean(666)

6